<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Default Bookmark Guid</key>
	<string>C4C3440C-0EF5-49DE-B1A8-D7A52D2C9808</string>
	<key>EnableAPIServer</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NSAutoFillHeuristicControllerEnabled</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOverlayScrollersFallBackForAccessoryViews</key>
	<false/>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>0 150 224 278 0 0 1728 1085 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>464 473 800 448 0 0 1728 1079 </string>
	<key>NSWindow Frame ProfilesPanel</key>
	<string>289 645 735 388 0 0 1728 1079 </string>
	<key>NSWindow Frame SUAutomaticUpdateAlert</key>
	<string>652 656 616 180 0 0 2560 1415 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>664 708 400 135 0 0 1728 1079 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>554 510 620 398 0 0 1728 1079 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>591 324 1019 508 0 0 1728 1084 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>1088 635 905 508 0 0 2560 1415 </string>
	<key>NeverWarnAboutShortLivedSessions_C4C3440C-0EF5-49DE-B1A8-D7A52D2C9808</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_C4C3440C-0EF5-49DE-B1A8-D7A52D2C9808_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25882352941176473</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.027450980392156866</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18431372549019609</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.86274509803921573</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58823529411764708</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.58039215686274515</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7686274509803922</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.44313725490196076</real>
				<key>Red Component</key>
				<real>0.42352941176470588</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.63137254901960782</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.57647058823529407</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.8901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96470588235294119</real>
				<key>Red Component</key>
				<real>0.99215686274509807</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.52156862745098043</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.53725490196078429</real>
				<key>Red Component</key>
				<real>0.70980392156862748</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82352941176470584</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.50980392156862742</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.21176470588235294</real>
				<key>Red Component</key>
				<real>0.82745098039215681</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.59607843137254901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63137254901960782</real>
				<key>Red Component</key>
				<real>0.16470588235294117</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.21176470588235294</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.086274509803921581</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.29411764705882354</real>
				<key>Red Component</key>
				<real>0.79607843137254897</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.50380182266235352</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<integer>30</integer>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.45882352941176469</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.43137254901960786</real>
				<key>Red Component</key>
				<real>0.34509803921568627</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>110</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.83529411764705885</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.90980392156862744</real>
				<key>Red Component</key>
				<real>0.93333333333333335</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51372549019607838</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4823529411764706</real>
				<key>Red Component</key>
				<real>0.396078431372549</real>
			</dict>
			<key>Guid</key>
			<string>C4C3440C-0EF5-49DE-B1A8-D7A52D2C9808</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Icon</key>
			<integer>0</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x5e-0x60000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[A</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[B</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[25~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[26~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[28~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[29~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>5</integer>
					<key>Text</key>
					<string></string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>4</integer>
					<key>Text</key>
					<string></string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Light</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>DroidSansMNF 13</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>30</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.64355993270874023</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.56682874283270113</real>
				<key>Red Component</key>
				<real>0.32567357465086388</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.45630515823813766</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75347251226914524</real>
				<key>Red Component</key>
				<real>0.84731483459472656</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<integer>1</integer>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.13869765228426398</real>
			<key>Underline Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<integer>0</integer>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<true/>
			<key>Use Underline Color</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/pat</string>
		</dict>
	</array>
	<key>NoSyncAllAppVersions</key>
	<array>
		<string>3.6.4</string>
		<string>3.5.2</string>
		<string>3.5.13</string>
		<string>3.6.9</string>
		<string>3.6.11</string>
		<string>3.5.1</string>
		<string>3.4.21</string>
		<string>3.6.8</string>
		<string>3.5.10</string>
		<string>3.4.23</string>
		<string>3.6.2</string>
		<string>3.5.5</string>
		<string>3.4.19</string>
		<string>3.5.12</string>
		<string>3.5.0</string>
		<string>3.6.10</string>
		<string>3.6.1</string>
		<string>3.5.4</string>
		<string>3.5.14</string>
		<string>3.4.20</string>
		<string>3.6.6</string>
		<string>3.4.22</string>
		<string>3.5.3</string>
		<string>3.5.8</string>
		<string>3.6.5</string>
		<string>3.5.11</string>
	</array>
	<key>NoSyncBFPRecents</key>
	<array>
		<string>DroidSansM Nerd Font</string>
	</array>
	<key>NoSyncCommandHistoryHasEverBeenUsed</key>
	<true/>
	<key>NoSyncFrame_SharedPreferences</key>
	<dict>
		<key>screenFrame</key>
		<string>{{0, 0}, {1728, 1117}}</string>
		<key>topLeft</key>
		<string>{290, 867}</string>
	</dict>
	<key>NoSyncHaveUsedCopyMode</key>
	<true/>
	<key>NoSyncIgnoreSystemWindowRestoration</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>D0BA1C03-0BBC-4DD6-8063-7D810191C480</string>
	<key>NoSyncLastOSVersion</key>
	<string>Version 26.5.1 (Build 25F80)</string>
	<key>NoSyncLastSystemPythonVersionRequirement</key>
	<string>1.17</string>
	<key>NoSyncLaunchExperienceControllerRunCount</key>
	<integer>426</integer>
	<key>NoSyncNeverAskAboutMouseReportingFrustration</key>
	<true/>
	<key>NoSyncNextAnnoyanceTime</key>
	<real>780072393.31745303</real>
	<key>NoSyncOnboardingWindowHasBeenShown34</key>
	<true/>
	<key>NoSyncPermissionToShowTip</key>
	<false/>
	<key>NoSyncRecordedVariables</key>
	<dict>
		<key>0</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string></string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>1</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>presentationName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxRole</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>profileName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>showingAlternateScreen</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>homeDirectory</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>columns</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tab.tmuxWindowTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>uname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxClientName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>selectionLength</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>mouseInfo</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>shell</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>triggerName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>parentSession</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowPane</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusRight</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>mouseReportingMode</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxPaneTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>rows</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowPaneIndex</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoLogId</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>badge</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>logFilename</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tab.tmuxWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>parentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>parentSession.parentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>tab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusLeft</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>selection</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>effective_root_pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoNameFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>sshIntegrationLevel</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>creationTimeString</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>applicationKeypad</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>16</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>style</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>frame</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.mouseInfo</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>isHotkeyWindow</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentTab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>number</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.parentSession.parentSession.bellCount</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.effective_root_pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>2</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.commandLine</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>title</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>title</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>window</string>
				<key>nonterminalContext</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.processTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindow</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>4</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>localhostName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>effectiveTheme</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>NoSyncRemoveDeprecatedKeyMappings</key>
	<integer>2</integer>
	<key>NoSyncRestoreWindowsCount</key>
	<integer>0</integer>
	<key>NoSyncSavedWindowPositions</key>
	<dict>
		<key>0</key>
		<string>{591, 832}</string>
	</dict>
	<key>NoSyncTipOfTheDayEligibilityBeganTime</key>
	<real>701351070.79923403</real>
	<key>NoSyncUserHasSelectedCommand</key>
	<true/>
	<key>NoSyncWindowRestoresWorkspaceAtLaunch</key>
	<false/>
	<key>OnlyWhenMoreTabs</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PreventEscapeSequenceFromClearingHistory</key>
	<false/>
	<key>PromptOnQuit</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final_modern.xml?shard=71</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-06-12T14:35:59Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>4048964682</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.32793499696601941</real>
	<key>TabStyleWithAutomaticOption</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>TmuxWarnBeforePausing</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>disableMetalWhenUnplugged</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>iTerm Version</key>
	<string>3.6.11</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
